<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="StyleCop" version="6.1.0" targetFramework="net472" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="StyleCop.CSharp" version="6.1.0" targetFramework="net472" />
  <package id="Visual-StyleCop.MSBuild" version="4.7.59.0" targetFramework="net472" />
</packages>